html, body, body * {
  // clear padding and margins
  margin: 0;
  padding: 0;
}

// Force this element to fill page (NOTE: verbose)
#react-root > div > div > div {
  height: 100%;
  overflow-y: auto;

  // Prevent horizontal scrollbar
  overflow-x: hidden !important;
}

input[type=text], 
input[type=password], 
input[type=email] {
  outline: none; 
  border-style: solid;
}

select {
  box-shadow: none;
  border: 1px solid grey;

  &, &:active, &:hover {
    outline: none;
  }
}

// Import other styles
@import 'range.scss';
